<div class="c-notification__icon">
  <span>
    <i class={{notificationIcon}}></i>
  </span>
</div>
<div class="c-notification__content">
  {{#if notification.htmlContent}}
    {{{notification.message}}}
  {{else}}
    {{notification.message}}
  {{/if}}
</div>
{{#if notification.autoClear}}
  <div class="c-notification__countdown" style={{notificationClearDuration}}></div>
{{/if}}
<span class="c-notification__close" {{action "removeNotification"}} title="Dismiss this notification">
  <i class={{closeIcon}}></i>
</span>
