<div class="notification-icon">
  <span>
    <i {{bind-attr class=":fa notificationIcon"}}></i>
  </span>
</div>
<div {{bind-attr class=":notification-content autoClear::dismissable"}}>
  {{notification.message}}
</div>
{{#if notification.autoClear}}
  <div class="notification-countdown" {{bind-attr style="notificationClearDuration"}}></div>
  {{/if}}
<span class="notification-close" {{action "removeNotification"}} title="Dismiss this notification">
  <i class="fa fa-times"></i>
</span>
