<div local-class="c-notification__icon">
  <i class="{{notificationIcon}}"></i>
</div>
<div local-class="c-notification__content">
  {{#if notification.component}}
    {{component notification.component message=notification.message}}
  {{else if notification.htmlContent}}
    {{{notification.message}}}
  {{else}}
    {{notification.message}}
  {{/if}}
  <div local-class="c-notification__close" {{action "removeNotification"}} title="Dismiss this notification">
    <i class="{{closeIcon}}"></i>
  </div>
</div>
{{#if notification.autoClear}}
  <div local-class="c-notification__countdown" style={{notificationClearDuration}}></div>
{{/if}}
