{{! template-lint-disable no-invalid-interactive no-triple-curlies }}
<div
  class="c-notification
    {{this.dismissClass}}
    {{this.clickableClass}}
    {{if this.validType (concat "c-notification--" this.validType) ""}}
    {{@notification.cssClasses}}"
  data-test-notification-message={{@notification.type}}
  {{on "mouseenter" this.handleMouseEnter}}
  {{on "mouseleave" this.handleMouseLeave}}
>
  <div class="c-notification__icon">
    {{#if this.validType}}
      {{#if this.isInfo}}
        <EcnIconInfo class="c-notification__svg" />
      {{else if this.isSuccess}}
        <EcnIconSuccess class="c-notification__svg" />
      {{else if this.isWarning}}
        <EcnIconWarning class="c-notification__svg" />
      {{else if this.isError}}
        <EcnIconError class="c-notification__svg" />
      {{/if}}
    {{/if}}
  </div>
  <div class="c-notification__content" {{on "click" this.handleOnClick}}>
    {{#if @notification.htmlContent}}
      {{{@notification.message}}}
    {{else}}
      {{@notification.message}}
    {{/if}}
    <div
      class="c-notification__close"
      {{on "click" this.removeNotification}}
      title="Dismiss this notification"
    >
      <EcnIconClose class="c-notification__svg" />
    </div>
  </div>

  {{#if @notification.autoClear}}
    <div
      class="c-notification__countdown"
      style={{this.notificationClearDuration}}
    ></div>
  {{/if}}
</div>