<div class="flex items-stretch">
  <div class={{styles.c-notification__icon}}>
    <i class={{notificationIcon}}></i>
  </div>
  <div class={{styles.c-notification__content}}>
    <div class="mr2">
      {{#if notification.htmlContent}}
        {{{notification.message}}}
      {{else}}
        {{notification.message}}
      {{/if}}
    </div>
    <div class={{styles.c-notification__close}} {{action "removeNotification"}} title="Dismiss this notification">
      <i class={{closeIcon}}></i>
    </div>
  </div>
</div>
{{#if notification.autoClear}}
  <div class={{styles.c-notification__countdown}} style={{notificationClearDuration}}></div>
{{/if}}
