{{! template-lint-disable no-invalid-interactive }}
<div
  class="ecn_notification
    {{if this.validType (concat "ecn_notification-" this.validType) ""}}
    {{this.clickableClass}}
    {{this.dismissClass}}
    {{@notification.cssClasses}}"
  data-test-notification-message={{@notification.type}}
  role="alert"
  {{on "mouseenter" this.handleMouseEnter}}
  {{on "mouseleave" this.handleMouseLeave}}
>
  <div class="ecn_notification_body">
    {{#if this.validType}}
      <div class="ecn_icon ecn_icon-type" data-test-notification-icon>
        {{#if this.isInfo}}
          <EcnIconInfo />
        {{else if this.isSuccess}}
          <EcnIconSuccess />
        {{else if this.isWarning}}
          <EcnIconWarning />
        {{else if this.isError}}
          <EcnIconError />
        {{/if}}
      </div>
    {{/if}}

    <div
      class="ecn_content"
      {{on "click" this.handleOnClick}}
      role={{if @notification.onClick "button"}}
      data-test-notification-content
    >
      {{this.message}}
    </div>

    <div
      class="ecn_icon ecn_icon-close"
      {{on "click" this.removeNotification}}
      title="Dismiss this notification"
    >
      <EcnIconClose />
    </div>

    {{#if @notification.autoClear}}
      <div class="ecn_countdown" style={{this.notificationClearDuration}}></div>
    {{/if}}
  </div>
</div>