<div class="notifications-container">
  {{#each notification in notifications}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

<h2>ember-cli-notifications</h2>
<div>
  <h4>Message</h4>
  {{input type="text" value=message}}
</div>
<div>
  <h4>Type</h4>
  <div>
    {{radio-button value="success" groupValue=type}}
    <label>Success</label>
  </div>
  <div>
    {{radio-button value="info" groupValue=type}}
    <label>Info</label>
  </div>
  <div>
    {{radio-button value="error" groupValue=type}}
    <label>Error</label>
  </div>
  <div>
    {{radio-button value="warning" groupValue=type}}
    <label>Warning</label>
  </div>
</div>
<div>
  <h4>Clear</h4>
  <div>
    {{input type="checkbox" checked=autoClear}}
    <label>Clear automatically</label>
  </div>
  {{#if autoClear}}
    <div>
      {{input type="text" value=clearDuration}}
      <label>Timeout</label>
    </div>
  {{/if}}
  <div>
    {{input type="checkbox" checked=clearAll}}
    <label>Clear all</label>
  </div>
</div>
<button {{action 'showNotifcation'}}>Show</button>

{{outlet}}
