{{notification-container notifications=notifications position=position}}

<h2>ember-cli-notifications</h2>
<div class="mb2">
  <h3>Message</h3>
  {{input class="field-light" type="text" value=message}}
</div>
<div class="mb2">
  <h3>Type</h3>
  <div class="mb1">
    {{radio-button value="success" groupValue=type}}
    <label>Success</label>
  </div>
  <div class="mb1">
    {{radio-button value="info" groupValue=type}}
    <label>Info</label>
  </div>
  <div class="mb1">
    {{radio-button value="error" groupValue=type}}
    <label>Error</label>
  </div>
  <div class="mb1">
    {{radio-button value="warning" groupValue=type}}
    <label>Warning</label>
  </div>
</div>
<div class="mb2">
  <h3>Position</h3>
  <div class="mb1">
    {{radio-button value="top" groupValue=position}}
    <label>Top</label>
  </div>
  <div class="mb1">
    {{radio-button value="top-left" groupValue=position}}
    <label>Top left</label>
  </div>
  <div class="mb1">
    {{radio-button value="top-right" groupValue=position}}
    <label>Top right</label>
  </div>
  <div class="mb1">
    {{radio-button value="bottom" groupValue=position}}
    <label>Bottom</label>
  </div>
  <div class="mb1">
    {{radio-button value="bottom-left" groupValue=position}}
    <label>Bottom left</label>
  </div>
  <div class="mb1">
    {{radio-button value="bottom-right" groupValue=position}}
    <label>Bottom right</label>
  </div>
</div>
<div class="mb2">
  <h3>Clear</h3>
  <div class="mb2">
    {{input type="checkbox" checked=autoClear}}
    <label>Clear automatically</label>
  </div>
  {{#if autoClear}}
    <div class="mb2">
      <label>Timeout</label>
      {{input class="block field-light" type="text" value=clearDuration}}
    </div>
  {{/if}}
  <div class="mb2">
    {{input type="checkbox" checked=clearAll}}
    <label>Clear all</label>
  </div>
</div>

<div class="mb2">
  <h3>HTML content</h3>
  <div class="mb2">
    {{input type="checkbox" checked=htmlContent}}
    <label>Enable HMTL</label>
  </div>
</div>

<div>
  Note: try to click on the notification or the "close" button - custom event handlers were will be triggered, too.
</div>

<button class="button" {{action "showNotifcation"}}>Show</button>
{{outlet}}
