<h2 id="title">Welcome to Ember.js</h2>

<div class="notifications-container">
  {{#each notifications}}
    {{notification-message notification=this}}
  {{/each}}
</div>

<button {{action 'showSuccess'}} title="Show a success notification">Success</button>
<button {{action 'showInfo'}} title="Show an info notification">Info</button>
<button {{action 'showError'}} title="Show an error notification">Error</button>
<button {{action 'showWarning'}} title="Show a warning notification">Warning</button>

{{outlet}}
